<div class="component-root">
    <div class="details">
        <span>{{weatherInformation.date | date : "EEEE"}}</span>
    </div>
    <div class="details ">
        <div class="flex-row-center">
            <span>{{weatherInformation.description}}</span>
            <img src="{{weatherInformation.icon}}"/>
        </div>
    </div>
    <div class="details ">
        <div class="flex-row-center">
            <span>{{weatherInformation.lowTempreture}}/</span>
            <span>{{weatherInformation.highTempreture}} °c</span>
        </div>
    </div>
    <div class="details">
        <span [routerLink]="['/weatherdetail' , index ,latitude , longitude]">?</span> 
    </div>
</div>
