.component-root{
    font-size: 18px;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border: 1px dashed white;
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .flex-row-center{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    img {
        width: 30px;
        height: 30px;
    }
    span{
        height: 30px;
    }
}

