.search{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    .details{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    input{
        width: 100%;
        height: 50px;
        font-size: 25px;
        padding: 10px;
        border-bottom:  1px black solid;
    }
    .city-area{
        background-color: white;
        width: 100%;
        height: 100%;
        .city-name{
            height:50px; 
            font-size: 15px;
            padding: 5px;
            border-bottom: 1px gray solid;
        }
    }

}