/* You can add global styles to this file, and also import other style files */
*{
    margin: unset;
    font-family:Tahoma, Geneva, sans-serif;
}
.app-root{
    background-image: url('./assets/images/background.jpg');
    width: 360px;
    height: 640px;

}
