.component-root{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    .details{
        display:flex;
        justify-content: center;
        .tempretures-div{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }        
    .tempreture{
        font-size: 100px;
    }
    .route{
        justify-content: flex-end;
        padding: 5px;
        cursor: pointer;
    }
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width :100%
    }
    .search{
        cursor: pointer;
    }
}

