<div class="component-root">
    <div class="details route">
        <span [routerLink]="['/weatherdetail' , 0]">?</span>
    </div>
    <div class="details"><span>{{weather.city.name}}</span> </div>
    <div class="details"><span>Today</span></div>
    <div class="details" ><span>{{weather.list[0].dt *1000 | date : 'dd/MM/yyyy'}}</span></div>
    <div class="details" ><span>{{weather.list[0].dt *1000 | date : 'hh.mm a'}}</span></div>
    <div class="details tempreture"><span>{{weather.list[0].main.temp -273 | number:'1.0-0'}}° c</span></div>
    <div class="details" ><img  src = "http://openweathermap.org/img/wn/{{weather.list[0].weather[0].icon}}@2x.png"/></div>
        <div class="details" ><span>{{weather.list[0].weather[0].description}}</span></div>
    <div class="details">
        <div class="tempretures-div">
            <span>{{weather.list[0].main.temp_min -273 | number:'1.0-0' }}° c</span>
            <span> {{weather.list[0].main.temp_max -273 | number:'1.0-0'}}° c</span>
        </div>
    </div>
</div>
