<div class="component-root">
    <div class="details"><span>{{location.city}}</span> </div>
    <div class="details" ><span></span></div>
    <div class="details" ><span></span></div>
    <div class="details tempreture"><span>{{+"°c"}}</span></div>
    <div class="details" ><img  src = "http://openweathermap.org/img/wn/{{weather.list[0].weather[0].icon}}@2x.png"/></div>
    
    <div class="details">
        <div class="tempretures-div">
            <span>{{minTemp+"°c"}}</span>
            <span> {{maxTemp+"°c"}}</span>
        </div>
    </div>
</div>
