.component-root{
    color: white;
    font-size: 25px;
    height: 640px;
    border:1px solid white;
    .details{
        display:flex;
        justify-content: center;
        .tempretures-div{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
    }        
    .tempreture{
        font-size: 90px;
    }
    .back{
        justify-content: flex-start;
        font-size: 18px;
        border-bottom: white 1px solid;
        span {
            padding: 10px;
          cursor: pointer;
        }
        margin-bottom: 10px;
    }
}